@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

.header {
    margin-top: 100px;
    color: black;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    /* width: 300px;
      padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

.login-input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
}

.login-button {
    width: 100px;
    margin-top: 10px;
    text-decoration: none;
    padding: 6px;
    color: white;
    background-color: #924141;
    border-radius: 8px
}

.login-show {
    padding: 10px;
    color: #f1356d;
}

.signup-button {
    width: 300px;
    margin-top: 10px;
    text-decoration: none;
    padding: 6px;
    color: white;
    background-color: #924141;
    border-radius: 8px
}

