* {
  padding: 0px;
  margin: 0px;
}

.navbar {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #682b2b;
  background-color: #534649;
  width: 100vw;
}
.navbar h1 {
  color: #f1cf35;
}

.links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
  
}

.navbar a:hover {
  color: #3b3234;
}

@media (min-width: 750px) {
   .smallScreenNav {
      display:none;     
   }
  }

@media (max-width: 750px) {
.navbar a { 
   display: none;
 }

.smallScreenNav {
  margin-right: 60px;
}

 .dropbtn {
  color: white;
  background-color: #f1356d;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;}

.dropdown:hover .dropbtn {background-color: #f1356d;}


}