.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #221f14;
  width: 100vw;
  position: fixed;
  top: 0;
}

.navbar-container {
  max-width: 1200px; /* Set the maximum width for the contents of the navbar */
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Add padding to create some space between the container and the navbar edges */
  display: flex;
  align-items: center;
}

/* .navbar > * {
  position: fixed;
  display: block;
  width: 100%;
  line-height: 3px;
} */

.navbar h3 {
  color: white;
}

.links {
  margin-left: auto;
}

.navbar a {
  margin-left: 15px;
  margin-right: 5px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #924141;
  border-radius: 8px;
}

.navbar a:hover {
  color: #3b3234;
  background-color: azure;
}

.navbar img {
  border-radius: 30%;
  width: 75px;
  padding: 1px;
}

@media (min-width: 850px) {
  .smallScreenNav {
    display: none;
  }
}

@media (max-width: 850px) {
  .navbar a {
    display: none;
  }

  .smallScreenNav {
    margin-right: 10px;
  }

  .dropbtn {
    color: white;
    background-color: #ab8096;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 130px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 2px;
    z-index: 1;
    text-align: center;   
  }

  .dropdown-content a {
    color:#f1f1f1;
    margin: 2px auto;
    width: 130px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #ab8096;
  }
}
