* {
    margin: 0;
    padding: 0;
}

.clientEmail {
    display: inline-flex;
    justify-content: center;
    max-width: 265px;
    margin: 5px;
}

.appSpecialRequirements {
    display:inline-flex;
    padding: 10px;
    justify-content: center;
}

.bookingSubmit {
    display: block;
    margin: 10 auto;
    max-width: 265px;
    margin: 5px;
}

.clientName {
    display: inline-flex;
    max-width: 530px;
    justify-content: center;
}

.clientFirstName, .clientLastName {
    max-width: 265px;
    margin: 5px;
}

.clientPhoneNumber {
    display: inline-flex;
    max-width: 265px;
    margin: 5px;
}

.pageHeader {
    color: white;
    background-color: #f1356d;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.bookingSubmitButton {
    color: white;
    background-color: #f1356d;
    border-radius: 8px;
    border-color: #4b2732;
    display: block;
    margin: auto;
}

:hover.bookingSubmitButton {
    background-color: #4b2732;
   
}

.isConsultation, .result, .consultationNotice {
    display: block;
    text-align: center;
    font-weight: 600;
}

