.clientEmail {
    display: inline-flex;
    justify-content: center;
    max-width: 265px;
    margin: 5px;
}

.appSpecialRequirements {
    display:inline-flex;
    padding: 10px;
    justify-content: center;
}

.bookingSubmit {
    display: block;
    margin: 10 auto;
    max-width: 265px;
    margin: 5px;
}

.clientName {
    display: inline-flex;
    max-width: 530px;
    justify-content: center;
}

.clientFirstName, .clientLastName {
    max-width: 265px;
    margin: 5px;
}

.clientPhoneNumber {
    display: inline-flex;
    max-width: 265px;
    margin: 5px;
}
