.clientEmail {
    display: inline-flex;
    justify-content: center;
}

.appSpecialRequirements {
    display:inline-flex;
    padding: 10px;
    justify-content: center;
}

.bookingSubmit {
    display: block;
    margin: 0 auto;
}

input {
    max-width: 230px;
    margin: 0px auto;
}