.aboutus {
  margin: 80px auto;
  padding: 20px;
}
.husky_stare {
  -moz-transform: translateX(100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
  -ms-transform: translateX(-100%) rotate(-90deg); /* IE9 */
  -o-transform: translateX(-100%) rotate(-90deg); /* Opera */
  transform: translateX(50%) rotate(10deg); /* W3C */
  margin: 80px auto;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  height: 90px;
}
