@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

body {
    background-color: #f2f2f2;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    /* width: 300px;
    padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
}

.login-input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button, .register-button {
    padding: 10px;
    width: 100%;
    background-color: #f1356d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-show {
    padding: 10px;
    color: #f1356d;
}

h3 {
    margin-top: 10px;
    font-size: 15px;
}

.alert {
    color: red;
    margin-top: 5px;
}
