@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
}

.login-button {
    padding: 10px;
    background-color: #f1356d;
    color: white;
    border: none;
    cursor: pointer;
    margin: 7px 2px;
    border-radius: 7px;
    box-shadow: 0 0 2px 2px rgba(225, 49, 102, 0.825);
}

.login-show {
    padding: 10px;
    color: #f1356d;
}

.login-button:hover{
    background-color: rgba(225, 49, 102, 0.5);
    transition: 0.3s;
}

.login-title {
   border: 10px 10px;
}