@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

.user-profile-page {
    padding-top: 100px;
}

.savechanges-button {
    margin-left: 15px;
    margin-right: 5px;
    text-decoration: none;
    padding: 6px;
    color: white;
    background-color: #924141;
    border-radius: 8px
}