@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

.signup-page {
    padding-top: 100px;
}

.createaccount-button {
    padding: 10px;
    background-color: #f1356d;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
}